OesUI/Service References/QuestionService/QuestionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OesWCFContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OesWCFContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QuestionDS.ExamQuestionDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="QuestionDS.ExamQuestionDataTable" Namespace="http://schemas.datacontract.org/2004/07/OesWCFContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/QuestionDS.xsd" name="namespace" />
      <xs:attribute fixed="ExamQuestionDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionDS.exam_answer_detailDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="QuestionDS.exam_answer_detailDataTable" Namespace="http://schemas.datacontract.org/2004/07/OesWCFContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/QuestionDS.xsd" name="namespace" />
      <xs:attribute fixed="exam_answer_detailDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>