OesUI/Service References/UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OesWCFContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OesWCFContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserNameNotExistent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Messge" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNameNotExistent" nillable="true" type="tns:UserNameNotExistent" />
  <xs:element name="UserDS.UserDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="UserDS.UserDataTable" Namespace="http://schemas.datacontract.org/2004/07/OesWCFContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/UserDS.xsd" name="namespace" />
      <xs:attribute fixed="UserDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>